#titlebar{
  top: 0;
  left: 0;
  right: 0;
  font-size : 20px;
  border-top: 10px solid rgba(8, 155, 130, 0.705);
}

#greeting {
  position : fixed;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 1em;
  color: white;
  background-color: rgb(20, 134, 68);
  text-shadow: 0 0 5px #333;
  text-align: center;
  margin: 0.3em;
  padding: 0.3em;
}

#top-area {
  padding-top : 2vh;
  background-color: rgba(19, 40, 107, 0.062);  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#usernamespace{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

#messagespace{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

#usernameInput{
  width: 10vw;
}
#messageInput{
  
  width: 60vw;
  
}

#tweetWrapper{
  
  background-color: rgba(20, 248, 77, 0);
  

  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top : 0.5%;
  padding-bottom : 0.5%;
  padding-left : 1%;
  padding-right : 1%;
  row-gap: 1vh;
}

.tweet__message{
  word-break: break-word;
}
#username{
  font-family: 'Tapestry', cursive;
}
#message{
  font-family: 'Tapestry', cursive;
}


#tweetButton{
  margin-top :0.3vh;
  font-family: 'Oxygen', sans-serif;
  font-size : 20px;
  border-radius: 1em;
  color: white;
  background-color: rgba(11, 146, 117, 0.856);
  text-shadow: 0 0 5px #333;
  width : 160px;
  height: 40px;
  margin-bottom: 10px;
}

#tweetbuttonarea2{
  align-self:flex-start;
  margin : 0.5vw;
  position : fixed;
  
}


#randomButton{
  padding-top : 30px;
  padding-left : 20px;
  border : 0px;
  background-color: rgba(235, 10, 104, 0);
  border-radius :100%;
  height : 30px;
  width: 30px;
  justify-content: center;
  align-items: center;

}



li.tweet.white{
  border : 2px solid rgba(3, 87, 21, 0.212);
  padding :10px;
  list-style:none;
  width : 60vw;
  display:flex;
  flex-direction: column;
  
}

.tweet__username{
  display : block;
  background-color: rgba(17, 143, 160, 0.11);
  margin : 1vh;
  margin-bottom : 0.5vh;
  font-size:2vh;
  font-weight: 900;
  border-bottom : 1px solid black;
  height : 3.2vh;
  padding-left:1%

}

.tweet__createdAt {
  font-size:1.2vh;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2vw;
  
  margin-bottom : 0.4vh;
  align-self: flex-end;
  position: relative;
  bottom:3vh;
  
}

.tweet__message{
  display:flex;
  justify-content: center;
  font-size:medium;
}
